<a href="{% url 'create_service' %}">Create Service</a>

<table border=".5">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Rating</th>
        <th>Review</th>
        <th>Actions</th>
    </tr>
    {% for service in list %}
    <tr>
        <td>{{service.id}}</td>
        <td>{{service.name}}</td>
        <td>{{service.description}}</td>
        <td>${{service.price}}/month</td>
        <td>{{service.category}}</td>
        <td>{{service.rating}}</td>
        <td>{{service.review}}</td>
        <td>
            <a href="{% url 'update_service' service.id %}">Edit</a>
            <a href="{% url 'delete_service' service.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>